on:
  pull_request:
    types: [ closed ]

name: Build Angular
jobs:
  build:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [lts/*]

    steps:
      - uses: actions/checkout@v1

      - name: Node ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm install and npm run build
        run: |
          npm i --save-dev @angular/core
          npm i --save-dev @angular/cli
          npm i --save-dev ng-packagr
          npm i --save-dev @angular-devkit/build-angular
          npm i
          npm run build:prod
          cd dist
          mv ../.npmrc ngx-leaflet-sidebar
          tar -czf release.tgz ngx-leaflet-sidebar/
          cd ngx-leaflet-sidebar
          npm publish --access public
        env:
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}
      - name: Push Build to Releases
        uses: ncipollo/release-action@v1
        with:
          artifacts: "dist/release.tgz"
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: "1.0.8"
